p {
  margin: 4px;
}

#search-form {
  display: inline-block;
}

.inlineButton {
  display: inline-block;
}

.omdbResult {
  box-sizing: border-box;
  margin: 10px;
  padding: 4px;
  text-align: center;
  background-color: rgb(212, 212, 212);
}

.omdbResult.detailed {
  transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  background-color: rgb(143, 196, 222);
}

.moviePoster {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: auto;
  padding: 4px;
}

.controls,
h1 {
  text-align: center;
}
